[run]
omit = joule/daemon.py, joule/_version.py, joule/cli/admin/*
source = joule

[report]
exclude_lines =
  pragma: no cover
  def __repr__
  if __name__ == "__main__":
  if TYPE_CHECKING:
  if self.debug:

