*~
*.pyc
venv/*
__pycache__
build/*
dist/*
*.egg-info
#*
.coverage
test/e2e/archive/nilm*
htmlcov/*
asynctests.py
joule/daemon/test.py
test/e2e/nilmdb
docs/_build
.DS_Store
.vscode
.idea
.pytest_cache
joule/scratch.py
.eggs
tests/e2e/pki/*.crt
tests/e2e/pki/*.srl
.env
postgres-data
*checkpoint.ipynb
version.py
linux_venv