recursive-include joule/resources *
recursive-include joule/client/builtins *
recursive-include joule/models/data_store/sql *
recursive-include joule/cli/admin/local_postgres_templates *

prune tests
include versioneer.py
include joule/_version.py
