recursive-include joule/resources *
recursive-include joule/client/builtins *
recursive-include joule/sql *
recursive-include joule/cli/admin/local_postgres_templates *

prune tests
include versioneer.py
include joule/_version.py
global-exclude *.py[co]