aiodns==3.5.0
aiohappyeyeballs==2.6.1
aiohttp==3.12.15
aiohttp-jinja2==1.6
aiosignal==1.4.0
asyncpg==0.30.0
attrs==25.3.0
beautifulsoup4==4.13.4
certifi==2025.8.3
cffi==1.17.1
charset-normalizer==3.4.3
click==8.2.1
cryptography==45.0.6
dateparser==1.2.2
dsnparse==0.2.1
frozenlist==1.7.0
greenlet==3.2.4
h5py==3.14.0
idna==3.10
Jinja2==3.1.6
Markdown==3.8.2
MarkupSafe==3.0.2
multidict==6.6.4
numpy==2.3.2
packaging==25.0
propcache==0.3.2
psutil==7.0.0
psycopg2-binary==2.9.10
pycares==4.10.0
pycparser==2.22
pyOpenSSL==25.1.0
python-dateutil==2.9.0.post0
pytz==2025.2
regex==2025.7.34
requests==2.32.4
scipy==1.16.1
six==1.17.0
soupsieve==2.7
SQLAlchemy==2.0.43
SQLAlchemy-Utils==0.41.2
tabulate==0.9.0
treelib==1.8.0
typing_extensions==4.14.1
tzlocal==5.3.1
urllib3==2.6.0
yarl==1.20.1
aiofiles==24.1.0