# API key for interacting with joule
USER_KEY=e60fe43f0569fd0b125735b4

# Port and scheme of joule node
# Given to master nodes when granting access so the master
# nodes can correctly route traffic back to this node
HOST_PORT=80
HOST_SCHEME=http