[Unit]
Description = "Joule Management Daemon"
After = syslog.target

[Service]
Type = simple
ExecStart = /usr/local/bin/jouled
StandardOutput = journal
StandardError = journal
Restart = always
User = joule

[Install]
WantedBy = multi-user.target
