#From https://www.infracloud.io/blogs/multi-arch-containers-ci-cd-integration/
name: docker-multi-arch-push
on:
  workflow_run:
    workflows: ["Publish Python Package"]
    types:
      - completed

jobs:
  docker-build-push:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3


      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2


      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2


      - name: Login to docker.io container registry
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_HUB_USER }}
          password: ${{ secrets.DOCKER_HUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v3
        with:
          context: .
          file: ./Dockerfile
          platforms: linux/amd64,linux/arm64
          push: true
          tags: wattsworth/joule:latest

      - name: Push Git Tag Image
        run: |
          docker tag wattsworth/joule:latest wattsworth/joule:${{ github.ref_name }}
          docker push wattsworth/joule:${{  github.ref_name }}


